<%
import time
%>

<!doctype html>
<html>
<head>
    <title>Drone overview</title>

    	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap-responsive.min.css" type="text/css" />
	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" type="text/css" />
	<!--<meta http-equiv="Refresh" CONTENT="10"/>-->
	<script type="text/javascript" src="/static/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/static/updater.js"></script>
</head>
<body>
<!-- Drone header -->
<div class="navbar">
    <div class="navbar-inner">
        <a class="brand" href="#"><i class="icon-home"></i>PyDrone</a>
        <ul class="nav">
            <li class="active"><a href="/monitor">Monitor</a></li>
            <!--<li class=""><a href="/Html/probes.html">Probes</a> </li>
            <li class=""><a href="/Html/options.html">Configuration</a></li>-->

        </ul>
    </div>
</div>

<ul class="breadcrumb">
	<li>Overview</li>
</ul>
<table class="table table-bordered" id="Overview" style=" margin-left: 30px">
    <thead>
    <tr>
        <th>Server</th>
        <th>Status</th>
        <th>Message</th>
	<th>Application</th>
        <!--<th style="">Environment</th>-->
	<th>Last access</th>
    </tr>

<%

def returnClassByCode(iCode):
	if 200 == iCode:
        	sCodeBadge = 'badge-success'
        elif 400 <= iCode:
                sCodeBadge = 'badge-warning'
        elif 500 <= iCode:
                sCodeBadge = 'badge-important'
        else:
                sCodeBadge = 'badge-inverse'
	return sCodeBadge
%>

    </thead>
    <tbody>
	% for sGroup in aProbes.keys():
		<%
			if len(aProbes[sGroup]) > 0:
				sUrl = aProbes[sGroup][0].url
			else:
				sUrl = ''
		%>
        <tr class="info">
                <td colspan="5"><strong>${sGroup} (${len(aProbes[sGroup])} probes) :</strong> <small>${sUrl}</small></td>
        </tr>
                % for oEachProbe in aProbes[sGroup]:
                        <%
                                if 200 != oEachProbe.lastCode:
                                        sRowClass = 'warning '
                                else:
                                        sRowClass = ''
				sTime = time.ctime(oEachProbe.lastCheck)
                        %>
                        <tr class="${sRowClass}" id="probe-${oEachProbe.id}">
                                <td class="${sRowClass}server"><small>${oEachProbe.server}</small></td>
                                <td class="${sRowClass}code"><span class="badge ${returnClassByCode(oEachProbe.lastCode)}">${oEachProbe.lastCode}</span></td>
                                <td class="${sRowClass}lastMessage"><small><strong>${oEachProbe.lastMessage}</strong></small></td>
				<td class="${sRowClass}application">
					% for oEachApplication in oEachProbe.lastApplications:
					<span class="badge ${returnClassByCode(oEachApplication['code'])}">${oEachApplication['name']}</span>

					% endfor
				</td>
                                <!--<td>
                                        % if 200 != oEachProbe.lastCode :
                                        ----
                                        % endif
                                </td>-->
				<td class="${sRowClass}lastCheck">${sTime}</td>
                        </tr>
                % endfor
        % endfor

    </tbody>

</table>


</body>
</html>
