<%
import time
%>

<!doctype html>
<html>
<head>
    <title>Drone overview</title>

    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-responsive.min.css" type="text/css" />
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" type="text/css" />
	<meta http-equiv="Refresh" CONTENT="10"/>
</head>
<body>
<!-- Drone header -->
<div class="navbar">
    <div class="navbar-inner">
        <a class="brand" href="#"><i class="icon-home"></i> Drone surveillance room</a>
        <ul class="nav">
            <li class="active"><a href="/monitor">Home</a></li>
            <!--<li class=""><a href="/Html/probes.html">Probes</a> </li>
            <li class=""><a href="/Html/options.html">Configuration</a></li>-->

        </ul>
    </div>
</div>

<h4 style="margin-left:30px" id="buh"  data-html="tot">Overview (monitored urls : <span id="OverviewCounter" class="label label-info"></span> )</h4>
<table class="table table-bordered" id="Overview" style=" margin-left: 30px">
    <thead>
    <tr>
        <th>Server</th>
        <th>Status</th>
        <th>Message</th>
	<th>Application</th>
        <th style="">Environment</th>
	<th>Last access</th>
    </tr>

<%

def returnClassByCode(iCode):
	if 200 == oEachProbe.lastCode:
        	sCodeBadge = 'badge-success'
        elif 400 < oEachProbe.lastCode:
                sCodeBadge = 'badge-warning'
        elif 500 < oEachProbe.lastCode:
                sCodeBadge = 'badge-important'
        else:
                sCodeBadge = 'badge-inverse'
	return sCodeBadge
%>

    </thead>
    <tbody>
	% for sGroup in aProbes.keys():
		<%
			if len(aProbes[sGroup]) > 0:
				sUrl = aProbes[sGroup][0].url
			else:
				sUrl = ''
		%>
        <tr>
                <td colspan="5"><strong>${sGroup} :</strong> <small>${sUrl}</small></td>
        </tr>
                % for oEachProbe in aProbes[sGroup]:
                        <%
                                if 200 != oEachProbe.lastCode:
                                        sRowClass = 'warning'
                                else:
                                        sRowClass = ''
				sTime = time.ctime(oEachProbe.lastCheck)
                        %>
                        <tr class="${sRowClass}" data-id="${oEachProbe.id}">
                                <td class="${sRowClass}"><small>${oEachProbe.server}</small></td>
                                <td class="${sRowClass}"><span class="badge ${returnClassByCode(oEachProbe.lastCode)}">${oEachProbe.lastCode}</span></td>
                                <td class="${sRowClass}"><small><strong>${oEachProbe.lastMessage}</strong></small></td>
				<td>
					% for oEachApplication in oEachProbe.lastApplications:
					<span class="badge ${returnClassByCode(oEachApplication['code'])}">${oEachApplication['name']}</span>

					% endfor
				</td>
                                <td>
                                        % if 200 != oEachProbe.lastCode :
                                        ----
                                        % endif
                                </td>
				<td>${sTime}</td>
                        </tr>
                % endfor
        % endfor

    </tbody>

</table>


</body>
</html>
